[Unit]
Description=Network API Service
After=network.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/network_api_node
Restart=on-failure
User=abhishek
Group=abhishek
CPUSchedulingPolicy=other
Nice=5
CPUAffinity=0 1

[Install]
WantedBy=multi-user.target
