[Unit]
Description=Merai Logger Service

# Ensure logger starts after the launcher has created /LoggerShm
# and that it's part of the merai stack.
After=launcher.service
Wants=launcher.service

[Service]
Type=simple
ExecStart=/usr/bin/merai_logger
User=abhishek
Group=abhishek
# Best-effort scheduling; keep it off isolated cores
CPUSchedulingPolicy=other
Nice=10
CPUAffinity=0 1

# If you want it to auto-restart on crash, keep these lines:
Restart=on-failure
RestartSec=5

[Install]
WantedBy=merai_stack.target
