[Unit]
Description=Merai Logger Service

# Ensure logger starts after the launcher has created /LoggerShm
# and that it's part of the merai stack.
After=launcher.service
Requires=launcher.service

[Service]
Type=simple
ExecStart=/usr/local/bin/merai_logger
# Run as a normal (non-RT) process with the default scheduler
# (No need to specify CPUAffinity or SCHED_FIFO).

# If you want it to auto-restart on crash, keep these lines:
Restart=on-failure
RestartSec=5

[Install]
WantedBy=merai_stack.target
