[Unit]
Description=Fieldbus Service for Robot Control
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hand_control_fieldbus_exe

# If you have a dedicated robot user (recommended over root):
User=abhishek

Restart=on-failure

# Real-time scheduling + CPU affinity, if needed:
LimitRTPRIO=99
CPUSchedulingPolicy=rr
CPUSchedulingPriority=90
CPUAffinity=2

[Install]
WantedBy=multi-user.target
