[Unit]
Description=Control Service
After=fieldbus.service
Requires=fieldbus.service

[Service]
Type=simple
ExecStart=/usr/bin/control
User=abhishek
Group=abhishek
Restart=on-failure

CPUSchedulingPolicy=fifo
CPUSchedulingPriority=85
CPUAffinity=3
LimitRTPRIO=99
LimitRTTIME=infinity
LimitMEMLOCK=infinity
TasksMax=infinity
RestrictRealtime=no
AmbientCapabilities=CAP_SYS_NICE
CapabilityBoundingSet=CAP_SYS_NICE

[Install]
WantedBy=multi-user.target
