name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure
        run: cmake --preset dev
      - name: Build
        run: cmake --build --preset dev
      - name: Test
        run: ctest --preset dev --output-on-failure
      # Uncomment to ensure the package can be generated
      # - name: Package
      #   run: cpack --preset dev
